
<div id="commits"></div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $.get('/commits.json', function(data) {
      $(data).each(function(index, commit) {
        var commitElement = $('<p>' + commit.author.name + '</p><p>' + commit.message + '</p>');
        $('#commits').append(commitElement);
      });
    });
  })
</script>
