
<div id="commits"></div>
<div id="display">Click on a commit to load it's details.</div>

<script type="text/javascript" charset="utf-8">
  
  function markAccepted(commitId) {
    var commit = new Commit({id:commitId});
    commit.accept();

    $('#commit_' + commitId).addClass('accepted');
    $('#display button.accept').remove();
  }

  $(function() {
    function loadCommit(id) {
      $.get('/commit/' + id + '.json', function(commit) {
        $('#display').html(commit.author.name + '<br>' +
          commit.committed_date + '<br>' +
          commit.message.replace(/\n/g, '<br>') + '<br>' +
          commit.diff.replace(/\n/g, '<br>'));

        var button = $('<button>accept</button>').addClass('accept');
        button.click(function() { markAccepted(commit.id); });
        $('#display').append(button);
      });
    }

    function hilight(element) {
      $('#commits .commit').removeClass('current');
      $(element).addClass('current');
    }

    $.get('/commits.json', function(data) {
      $(data).each(function(index, commitAttributes) {
        var commit = new Commit(commitAttributes);
        var commitElement = $('<div>').addClass('commit');
        commitElement.attr('id', 'commit_' + commit.id);

        if (commit.accepted) {
          commitElement.addClass('accepted');
        }

        commitElement.html(commit.subject());

        commitElement.click(function() {
          hilight(this);
          loadCommit(commit.id);
        });

        $('#commits').append(commitElement);
      });
    });
  })
</script>
