<!DOCTYPE html>
<html>
  <head>
    <title>Super secret project</title>
    <%= jquery_tag %>
    <script src="/javascripts/models/commit.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/stylesheets/ssp.css" type="text/css" media="screen" charset="utf-8">
  </head>

  <body>
    <h1>Super secret project</h1>
    <%= yield %>
  </body>
</html>
