
body {
  font-family: Verdana, sans-serif;
  font-size: small;
}

#commits {
  border: 1px solid #999;
  border-width: 1px 1px 0 1px;
  width: 300px;
}

.commit {
  border-bottom: 1px solid #999;
  padding: 3px;
}
